@import "../main"
$avatarSize = 22px;


.chat {
	padding-top:10px;
	.avatar {
		left:10px;
		top:6px;
	
		img {
			width:$avatarSize;
			height:$avatarSize;
		}
	}
	
	.sender{
		font-size:14px;
		padding-left:30px;
		padding-top:0;
		padding-bottom:8px;
		border-bottom:0;
	}
	
	.messages {
		padding-left:8px;
		p {
			padding:0.25em 0.15em;
			line-height:115%;
			font-size:0.88em;
		}
	}
}
