html {
  padding: 5px 0 0 0;
  margin: 0;
}
body {
  padding: 0px;
  margin: 0;
  padding-top: 40px;
  background: #e5e5e5;
}
body a:link {
  color: #4583fa;
}
body a:hover {
  color: #588ffb;
}
body a:visited {
  color: #075af8;
}
.heading,
.topic {
  color: #3e444b;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,0.99);
  z-index: 2;
  box-shadow: 0 2px 3px rgba(0,0,0,0.05);
  border-bottom: 1px solid #e8e8e8;
}
.heading h1,
.topic h1 {
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.heading h2,
.topic h2 {
  text-align: left;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0;
  padding: 0.2em;
}
.chat {
  position: relative;
  border-bottom: 1px solid #f1f2f4;
  padding: 15px 15px 15px 0;
  margin: 5px 10px;
  border-radius: 2px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.06);
/*&:hover .time {
		opacity:0.99;
	}*/
}
.chat .avatar {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 10px;
}
.chat .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 40px;
}
.chat .messages {
  padding-left: 23px;
}
.chat .messages p {
  padding: 0.25em;
  padding-left: 0;
  margin: 0;
  line-height: 135%;
  color: #4f5562;
}
.chat .messages p img {
  vertical-align: middle;
}
.chat .sender {
  font-weight: 300;
  color: #3e444b;
  font-size: 16px;
  color: #626262;
  border-bottom: 1px solid #f3f3f3;
  display: block;
  padding-left: 32px;
  padding-bottom: 8px;
}
.chat .time {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 0.8em;
  color: #aaa;
  opacity: 0.5;
  transition: all 0.6s ease-out;
}
.autoreply p {
  font-style: italic;
}
.status,
.event {
  text-align: left;
  color: #606974;
  padding: 0.6em;
  font-size: 0.85em;
  background: rgba(255,255,255,0.2);
  padding-right: 15px;
  margin: 5px 10px;
  border-radius: 2px;
  font-style: italic;
}
.spacer:last-child {
/*this is really stupid but I can't figure out why without it the body of the page won't have any padding even if I set it. Whatevs.*/
  height: 2px;
}
.focus {
  background: #f0f7fb;
  border-bottom: 1px solid #fff;
}
.firstFocus {
  border-top: 3px solid #49b5f6;
  background: #f0f7fb;
  border-bottom: 1px solid #fff;
}
.history {
  background: #f5f5f5;
  opacity: 0.65;
  transition: background 0.2s ease-in;
}
.history:hover {
  opacity: 0.9;
  background: #fff;
}
.history.mention:hover {
  background: #fbf8ef;
}
.mention {
  background: #fbf8ef;
  position: relative;
  border-bottom: 1px solid #fff;
}
.mention:after {
  content: '';
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  width: 20px;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #fbbf00;
}
.mention .time {
  color: #eeb600;
}
