$avatarSize = 28px;
$defaultTextColor = #3E444B;
$borderColor = #F1F2F4;
$linkColor = #4583FA;
$highlightColor = #EFF4FB;

html {
	padding:5px 0 0 0;
	margin:0;
}

body {
	padding:0px;
	margin:0;
	padding-top:40px;
	background:#E5E5E5;
	
	a {
		&:link {
			color:$linkColor;
		}
	
		&:hover {
			color:lighten($linkColor, 10%);
		}
	
		&:visited {
			color:darken($linkColor, 20%);
		}
	}
}

.heading, .topic {
	color:$defaultTextColor;
	padding:0.5em;
	position:fixed;
	top:0;
	width:100%;
	background:rgba(255,255,255,0.99);
	z-index:2;
	box-shadow:0 2px 3px rgba(0,0,0,.05);
	border-bottom:1px solid #e8e8e8;
	
	h1 {
		text-align:center;
		font-weight:300;
		font-size:1.2em;
		margin:0;
		padding:0;
	}
	
	h2 {
		text-align:left;
		font-weight:normal;
		font-size:0.9em;
		margin:0;
		padding:0.2em;
	}
}

.chat {
	position:relative;
	border-bottom:1px solid $borderColor;
	padding:15px 15px 15px 0;
	margin:5px 10px;
	border-radius:2px;
	border-bottom:1px solid #e8e8e8;
	background:#fff;
	box-shadow:0 2px 3px rgba(0,0,0,.05);

	.avatar {
		display:inline-block;
		position:absolute;
		left:20px;
		top:10px;
		
		img {
			width:$avatarSize;
			height:$avatarSize;
			-webkit-border-radius: 40px;
			-webkit-transition: all .4s ease-in-out;
			
			&:hover {
				-webkit-transform: scale(1.05);
			}
		}
		
	}
	
	.messages {
		padding-left:23px;
		p {
			padding:0.25em;
			padding-left:0;
			margin:0;
			line-height:135%;
			color:#4F5562;
			
			img {
				vertical-align:middle;
			}
		}
	}
	
	.sender{
		font-weight:300;
		color:$defaultTextColor;
		font-size:16px;
		color:#626262;
		border-bottom:1px solid #F3F3F3;
		display:block;
		padding-left:32px;
		padding-bottom:8px;
	}
	
	
	
	.time {
		position:absolute;
		right:15px;
		top:10px;
		font-size:0.8em;
		color:#aaa;
		opacity:0.5;
		transition:opacity 0.3s ease-out;
	}
	
	&:hover .time {
		opacity:1;
	}
}

.history {
	background:#F7F8FA;
}

.mention {
	background:$highlightColor;
}

.autoreply {
	p {
		font-style:italic;
	}
}

.status {
	text-align:left;
	color:lighten($defaultTextColor, 20%);
	padding:0.6em;
	font-size:0.85em;
	background:rgba(255,255,255,0.2);
	padding-right:15px;
	margin:5px 10px;
	border-radius:2px;
	font-style:italic;
}

.spacer:last-child {
	/*this is really stupid but I can't figure out why without it the body of the page won't have any padding even if I set it. Whatevs.*/
	height:2px;
}